<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SREC- Faculty Leave Management System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
     
    <link href="../../static/img/sreclogo.jpg" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    

    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../static/css/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../../static/css/admin/css/style.css" rel="stylesheet">
    <!-- Include FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>




<style>

    body {
        zoom: 110%;
    }
    
    .small {
        font-size: 10px; /* Adjust the font size as needed */
    }
    
    .announcement-container {
        position: relative;
    }
    
    .close-button {
        position: absolute;
        right: 0;
        top: 0;
    }
    

    </style>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
               
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="../../static/img/sreclogo.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">SREC</h6>
                        <span>Admin {{admin }}</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    {% if is_hod %}
                    <a href="{% url 'HODPage' %}" class="nav-item nav-link active"><i class="fas fa-tachometer-alt"></i> Admin panel</a>
                    {% else %}
                    <a href="{% url 'AdminPage' %}" class="nav-item nav-link active"><i class="fas fa-tachometer-alt"></i> Admin panel</a>
                    {% endif %}
                    {% if is_hod %}
                        <a href="{% url 'HODNewRequests' %}" class="nav-item nav-link"><i class="fas fa-keyboard"></i> New Requests
                    {% else %}
                        <a href="{% url 'NewRequests' %}" class="nav-item nav-link"><i class="fas fa-keyboard"></i> New Requests   
                    {% endif %}
                        {% if pending > 0 %}
                            <span class="badge bg-danger rounded-pill"> {{ pending }}</span>
                        {% else %}
                            <span></span>
                        {% endif %}
                    </a>
                    
                    {% if is_hod %}
                    {% else %}
                    <a href="{% url 'AddStaff' %}" class="nav-item nav-link"><i class="fas fa-user-plus"></i> Add Staff </a>
                    {% endif %}
                    {% if is_hod %}
                    {% else %}
                    <a href="{% url 'DeleteStaffView' %}" class="nav-item nav-link"><i class="fas fa-user-minus"></i> Delete Staff </a>
                    {% endif %}
                    {% if is_hod %}
                    {% else %}
                    <a href="{% url 'EditStaffView' %}" class="nav-item nav-link"><i class="fas fa-user-edit"></i> Edit Staff </a>
                    {% endif %}
                    {% if is_hod %}
                    {% else %}
                    <a href="{% url 'AvailLeaveView' %}" class="nav-item nav-link"><i class="fas fa-calendar-check"></i> Avail Leave</a>
                    {% endif %}
                    {% if is_hod %}
                    <a href="{% url 'HODDownloadView' %}" class="nav-item nav-link"><i class="fas fa-download"></i> Download</a>
                    {% else %}
                    <a href="{% url 'DownloadView' %}" class="nav-item nav-link"><i class="fas fa-download"></i> Download</a>
                    {% endif %}
                    {% if is_hod %}
                    <a href="{% url 'HODLeaveAvailability' %}" class="nav-item nav-link"><i class="fas fa-building"></i>Remaining</a>
                    {% else %}
                    <a href="{% url 'LeaveAvailability' %}" class="nav-item nav-link"><i class="fas fa-building"></i>Remaining</a>
                    {% endif %}
                    {% if is_hod %}
                    <a href="{% url 'HODAdminAccount' %}" class="nav-item nav-link "><i class="fas fa-cogs"></i>Account</a>
                    {% else %}
                    <a href="{% url 'AdminAccount' %}" class="nav-item nav-link "><i class="fas fa-cogs"></i>Account</a>
                    {% endif %}

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <!-- <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a> -->
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                {% if is_hod %}
                <p class="d-none d-md-flex ms-4 border-0" style="padding-top: 15px;">HOD Panel</p>
                {% else %}
                <p class="d-none d-md-flex ms-4 border-0" style="padding-top: 15px;">HR Panel</p>
                {% endif %}
                <!-- <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form> -->
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">New Requests</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            {% if recent_data %}
                            {% for recent in recent_data %}
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="../../static/assets/img/no.png" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">{{recent.username}}</h6>
                                        <small>{{recent.leave_type}}</small>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                            {% else %}
                            <div class="text-center">
                                <small>No new Requests</small>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if is_hod %}
                    {% else %}
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notification</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                {% if notification_message %}
                                <h6 class="fw-normal mb-0">{{ notification_message }}</h6>
                                {% else %}
                                <h6 class="fw-normal mb-0">No new Notification</h6>
                                {% endif %}
                            </a>
                            <hr class="dropdown-divider">
                            
                        </div>
                    </div>
                    {% endif %}
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="../../static/img/sreclogo.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Admin,{{ admin }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            {% if is_hod %}
                            <a href="{% url 'HODAdminAccount' %}" class="dropdown-item">Account</a>
                            {% else %}
                            <a href="{% url 'AdminAccount' %}" class="dropdown-item">Account</a>
                            {% endif %}
                            <form action="{% url 'Logout' %}" method="post">
                                {% csrf_token %}
                            <button type="submit" class="dropdown-item">Log Out</button>
                            </form>
                            
                        </div>

                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <iframe src="../../static/img/people.svg" width="50" height="50"></iframe>
                            <div class="ms-3">
                                <p class="mb-2">Total Staffs</p>
                                <h6 class="mb-0">{{ total_user }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <!-- <i class="fa fa-chart-bar fa-3x text-primary"></i> -->
                            <iframe src="../../static/img/person.svg" width="50" height="50"></iframe>
                            <div class="ms-3">
                                {% if is_hod %}
                                <p class="mb-2">Department</p>
                                {% else %}
                                <p class="mb-2">HoD</p>
                                {% endif %}
                                <h6 class="mb-0">{{ total_hod }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <iframe src="../../static/img/today.svg" width="50" height="50"></iframe>
                            <div class="ms-3">
                                <p class="mb-2">Applied Today</p>
                                <h6 class="mb-0">{{ today_applied }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <iframe src="../../static/img/pending.svg" width="50" height="50"></iframe>
                            <div class="ms-3">
                                <p class="mb-2">Pending</p>
                                <h6 class="mb-0">{{ pending }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
   
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">New Requests</h6>
                            </div>
                            {% if recent_data %}
                            {% for record in recent_data %}
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="../../static/assets/img/no.png" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">{{record.username}}</h6>
                                    </div>
                                    <span>{{record.leave_type}}</span>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="text-center"><br>
                            <span >No new Requests</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Requests</h6>
                            </div>
                            {% if recent_data %}
                            {% for record in recent_data %}
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="../../static/assets/img/no.png" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">{{record.username}}</h6>
                                    </div>
                                    <span>{{record.leave_type}}</span>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                        <div class="text-center"><br>
                            <span>No new Requests</span>
                            {%endif%}
                        </div>
                        </div>
                    </div> -->

                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calendar</h6>
                            </div>
                            <div id="calendar"></div>
                        </div>
                    </div>
                    
                    <style>
                        /* Adjust the size and alignment of the navigation buttons and today text */
                        .fc .fc-toolbar-title {
                            font-size: 0.875rem; /* Adjust the font size as needed */
                        }
                        .fc .fc-button {
                            font-size: 0.75rem; /* Adjust the button font size as needed */
                            padding: 0.25rem 0.5rem; /* Adjust the padding as needed */
                        }
                        .fc .fc-button-group .fc-button {
                            margin: 0; /* Ensure no extra margin */
                        }
                        .fc .fc-button .fc-icon {
                            font-size: 0.75rem; /* Adjust the icon size as needed */
                        }
                        .fc .fc-toolbar-chunk {
                            display: flex;
                            align-items: center;
                        }
                        /* Adjust the size of the dates in the calendar */
                        .fc .fc-daygrid-day-number {
                            font-size: 0.75rem; /* Adjust the font size as needed */
                        }
                        .fc .fc-daygrid-event {
                            font-size: 0.75rem; /* Adjust the event font size as needed */
                        }
                        .fc .fc-daygrid-day-top {
                            padding: 0.25rem; /* Adjust the padding as needed */
                        }
                        .fc .fc-daygrid-day-frame {
                            padding: 0.25rem; /* Adjust the padding as needed */
                        }
                    </style>
                    
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            var calendarEl = document.getElementById('calendar');
                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                initialView: 'dayGridMonth', // Initial view as month view
                                dayMaxEventRows: true, // Limit the number of events per day
                                fixedWeekCount: false, // Allow the number of weeks to vary
                                height: '350px', // Adjust calendar height automatically
                                contentHeight: '350px', // Adjust content height automatically
                                slotLabelFormat: {
                                    hour: 'numeric',
                                    minute: '2-digit',
                                    omitZeroMinute: false,
                                    hour12: true
                                },
                                headerToolbar: {
                                    // left: 'prev,next today',
                                    // center: 'title',
                                    // right: 'dayGridMonth,timeGridWeek,timeGridDay'
                                },
                                buttonText: {
                                    today: 'Today',
                                    // month: 'Month',
                                    // week: 'Week',
                                    // day: 'Day'
                                },
                                views: {
                                    dayGridMonth: {
                                        titleFormat: { year: 'numeric', month: 'short' }
                                    },
                                    timeGridWeek: {
                                        titleFormat: { year: 'numeric', month: 'short', day: 'numeric' }
                                    },
                                    timeGridDay: {
                                        titleFormat: { year: 'numeric', month: 'short', day: 'numeric' }
                                    }
                                }
                            });
                
                            calendar.render();
                        });
                    </script>
                    
                    
                    

                                           

<!-- Include jQuery -->
                    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>

                    <!-- Include FullCalendar JavaScript -->
                
                    
                        
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                {% if is_hod %}
                                <h6 class="mb-0">Announcemcents <i class="fas fa-bullhorn"></i></h6>
                                {% else %}
                                <h6 class="mb-0">Add Announcemcent <i class="fas fa-bullhorn"></i></h6>
                                {% endif %}
                            </div>
                            <form method="post" action="{% url 'AddAnnouncement' 'placeholder_username' 'placeholder_timestamp' %}">
                                {% csrf_token %}
                            <div class="d-flex mb-2">
                                {%if is_hod %}
                                {% else %}
                                <input class="form-control bg-transparent" name='announcement' type="text" placeholder="New Announcemcent">
                                <button type="submit" class="btn btn-primary ms-2">Add</button>
                                {% endif %}
                            </div>
                        </form>
                        
                        
                        {% for announcement in announcement_list %}
                        <div class="d-flex align-items-center border-bottom py-2 announcement-container">                       
                            <div class="w-100 ms-3">
                                <div class="d-flex flex-column"> <!-- Change to flex-column to stack elements vertically -->
                                    <div class="d-flex w-100 align-items-center justify-content-between position-relative"> <!-- Add position relative -->
                                        <span>{{ announcement.announcement }}</span>
                                        {% if is_hod %}
                                        {% else %}
                                        <a href="{% url 'DeleteAnnouncement' announcement.username announcement.timestamp %}" class="btn btn-sm close-button"><i class="fa fa-times"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex justify-content-end text-muted small"> <!-- Position the timestamp -->
                                        {{ announcement.timestamp|date:"d/m H:i" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}









                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->

        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/chart/chart.min.js"></script>
    <script src="../../static/lib/easing/easing.min.js"></script>
    <script src="../../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../../static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="../../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


    <!-- Template Javascript -->
    <script src="../../static/js/admin/js/main.js"></script>
    <!-- <script>
        document.body.style.transform = "scale(1.1)";
        document.body.style.transformOrigin = "0 0"
    </script> -->
</body>

</html>